:root {
  /* ===== Primitives — палитра ===== */
  --brand-900: #000a19;
  --brand-800: #002153;
  --brand-700: #00388c;
  --brand-600: #004fc5;
  --brand-500: #0066fe;
  --brand-400: #3d8afe;
  --brand-300: #79affe;
  --brand-200: #b6d3ff;
  --brand-100: #ddebff;
  --brand-50: #f4f8ff;
  --orange-900: #4d1f08;
  --orange-800: #752f0f;
  --orange-700: #9c3f15;
  --orange-600: #c34f1b;
  --orange-500: #ff752c;
  --orange-400: #ff955c;
  --orange-300: #ffb48c;
  --orange-200: #ffd2ba;
  --orange-100: #ffe5d7;
  --orange-50: #fff4ec;
  --graphit-900: #0a0a0a;
  --graphit-800: #1a1a1a;
  --graphit-700: #2c2c2c;
  --graphit-600: #4a4a4a;
  --graphit-500: #7a7a7a;
  --graphit-400: #b4b4b4;
  --graphit-300: #d6d6d6;
  --graphit-200: #eaeaea;
  --graphit-100: #f5f5f5;
  --graphit-50: #fafafa;
  --red-900: #3a0a0a;
  --red-800: #6c1111;
  --red-700: #951a1a;
  --red-600: #c12424;
  --red-500: #ff4a4a;
  --red-400: #ff7575;
  --red-300: #ffa5a5;
  --red-200: #ffcdcd;
  --red-100: #ffe7e7;
  --red-50: #fff5f5;
  --green-900: #042915;
  --green-700: #0e562d;
  --green-600: #0a7f32;
  --green-50: #f2fef6;
  --green-800: #0a3d21;
  --green-100: #dffae8;
  --green-200: #baf2cd;
  --green-300: #78e49b;
  --green-400: #33d266;
  --green-500: #00b53f;
  --yellow-900: #a77000;
  --yellow-800: #b88501;
  --yellow-700: #ca9901;
  --yellow-600: #e1b502;
  --yellow-500: #fed702;
  --yellow-400: #ffe24a;
  --yellow-300: #ffee85;
  --yellow-200: #fff5b8;
  --yellow-100: #fff9da;
  --yellow-50: #fffef3;
  --purple-900: #200047;
  --purple-800: #390080;
  --purple-700: #5300b8;
  --purple-600: #6e00f5;
  --purple-500: #8b2cff;
  --purple-400: #ae6bff;
  --purple-300: #cfa8ff;
  --purple-200: #e3ccff;
  --purple-100: #f1e6ff;
  --purple-50: #f9f5ff;
  --white: #ffffff;
  --white-90: #ffffffe5;
  --white-80: #ffffffcc;
  --white-70: #ffffffb2;
  --white-60: #ffffff99;
  --white-50: #ffffff80;
  --white-40: #ffffff66;
  --white-30: #ffffff4d;
  --white-20: #ffffff1a;
  --white-10: #ffffff1a;
  --black: #000000;
  --black-90: #000000e5;
  --black-80: #000000cc;
  --black-70: #000000b2;
  --black-60: #00000099;
  --black-50: #00000080;
  --black-40: #00000066;
  --black-30: #0000004d;
  --black-20: #00000033;
  --black-10: #0000001a;

  /* ===== Radius ===== */
  --radius-0: 0px;
  --radius-s: 8px;
  --radius-m: 12px;
  --radius-l: 16px;
  --radius-full: 999px;
  --radius-xs: 4px;
  --radius-xl: 24px;

  /* ===== Spacing ===== */
  --space-0: 0px;
  --space-2: 2px;
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-64: 64px;
  --space-128: 128px;

  /* ===== Size / control — высоты контролов ===== */
  --size-control-s: 30px;
  --size-control-m: 40px;
  --size-control-l: 58px;
  --size-control-xl: 64px;

  /* ===== Stroke — толщины ===== */
  --stroke-hairline: 1px;
  --stroke-m: 2px;

  /* ===== Semantic — Light ===== */
  --bg-surface: var(--white);
  --bg-canvas: var(--graphit-100);
  --bg-status-critical-light: var(--red-100);
  --bg-brand: var(--brand-500);
  --bg-disabled: var(--graphit-200);
  --bg-brand-pressed: var(--brand-600);
  --bg-status-warning-light: var(--yellow-100);
  --bg-status-success-light: var(--green-100);
  --bg-subtle: var(--graphit-200);
  --bg-inverse: var(--graphit-900);
  --bg-brand-disabled: var(--brand-200);
  --bg-status-info-light: var(--brand-100);
  --bg-accent-purple: var(--purple-500);
  --bg-accent-orange: var(--orange-500);
  --bg-accent-yellow: var(--yellow-500);
  --bg-accent-purple-light: var(--purple-100);
  --bg-accent-orange-light: var(--orange-100);
  --bg-accent-yellow-light: var(--yellow-100);
  --bg-status-critical: var(--red-500);
  --bg-status-warning: var(--yellow-500);
  --bg-status-success: var(--green-500);
  --bg-status-info: var(--brand-500);
  --bg-disabled-strong: var(--graphit-300);
  --text-primary: var(--graphit-900);
  --text-on-brand-primary: var(--white);
  --text-secondary: var(--graphit-600);
  --text-on-brand-secondary: var(--brand-200);
  --text-disabled: var(--graphit-300);
  --text-on-brand-disabled: var(--white-50);
  --text-brand: var(--brand-500);
  --text-tertiary: var(--graphit-400);
  --text-status-warning: var(--yellow-500);
  --text-status-success: var(--green-500);
  --text-status-critical: var(--red-500);
  --text-brand-pressed: var(--brand-600);
  --text-on-inverse-primary: var(--white);
  --text-accent-yellow: var(--yellow-500);
  --text-status-info: var(--brand-500);
  --text-accent-purple: var(--purple-500);
  --text-accent-orange: var(--orange-500);
  --border-strong: var(--graphit-300);
  --border-default: var(--graphit-200);
  --border-subtle: var(--graphit-100);
  --border-focus: var(--brand-500);
  --border-status-critical: var(--red-500);
  --border-white: var(--white);
  --border-status-warning: var(--yellow-500);
  --border-accent-yellow: var(--yellow-500);
  --border-accent-orange: var(--orange-500);
  --border-accent-purple: var(--purple-500);
  --border-status-success: var(--green-500);
  --border-status-info: var(--brand-500);
  --system-bg-canvas: #d1d5db;
  --system-bg-surface: #ffffff;
  --system-text: #000000;
  --system-bg-surface-subtle: #adb3bc;
}

[data-theme="dark"] {
  /* ===== Semantic — Dark ===== */
  --bg-surface: var(--graphit-800);
  --bg-canvas: var(--graphit-900);
  --bg-status-critical-light: var(--red-800);
  --bg-brand: var(--brand-400);
  --bg-disabled: var(--graphit-700);
  --bg-brand-pressed: var(--brand-500);
  --bg-status-warning-light: var(--yellow-800);
  --bg-status-success-light: var(--green-800);
  --bg-subtle: var(--graphit-700);
  --bg-inverse: var(--graphit-100);
  --bg-brand-disabled: var(--brand-100);
  --bg-status-info-light: var(--brand-800);
  --bg-accent-purple: var(--purple-400);
  --bg-accent-orange: var(--orange-400);
  --bg-accent-yellow: var(--yellow-400);
  --bg-accent-purple-light: var(--purple-800);
  --bg-accent-orange-light: var(--orange-800);
  --bg-accent-yellow-light: var(--yellow-800);
  --bg-status-critical: var(--red-400);
  --bg-status-warning: var(--yellow-400);
  --bg-status-success: var(--green-400);
  --bg-status-info: var(--brand-400);
  --bg-disabled-strong: var(--graphit-800);
  --text-primary: var(--graphit-100);
  --text-on-brand-primary: var(--white);
  --text-secondary: var(--graphit-300);
  --text-on-brand-secondary: var(--brand-200);
  --text-disabled: var(--graphit-500);
  --text-on-brand-disabled: var(--white-50);
  --text-brand: var(--brand-400);
  --text-tertiary: var(--graphit-500);
  --text-status-warning: var(--yellow-400);
  --text-status-success: var(--green-400);
  --text-status-critical: var(--red-500);
  --text-brand-pressed: var(--brand-500);
  --text-on-inverse-primary: var(--graphit-900);
  --text-accent-yellow: var(--yellow-400);
  --text-status-info: var(--brand-400);
  --text-accent-purple: var(--purple-400);
  --text-accent-orange: var(--orange-400);
  --border-strong: var(--graphit-600);
  --border-default: var(--graphit-700);
  --border-subtle: var(--graphit-800);
  --border-focus: var(--brand-400);
  --border-status-critical: var(--red-400);
  --border-white: var(--graphit-900);
  --border-status-warning: var(--yellow-400);
  --border-accent-yellow: var(--yellow-400);
  --border-accent-orange: var(--orange-400);
  --border-accent-purple: var(--purple-400);
  --border-status-success: var(--green-400);
  --border-status-info: var(--brand-400);
  --system-bg-canvas: #1b1b1b;
  --system-bg-surface: #5f5f5f;
  --system-text: #ffffff;
  --system-bg-surface-subtle: #3a3a3a;
}
